<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/home">
      <ng-icon name="lucideHouse" size="1.25rem"></ng-icon>
      <ion-label>{{ 'app-tab.home' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="courses" href="/courses">
      <ng-icon name="lucideBookOpen" size="1.25rem"></ng-icon>
      <ion-label>{{ 'app-tab.courses' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-courses" href="/my-courses">
      <ng-icon name="lucideBookMarked" size="1.25rem"></ng-icon>
      <ion-label>{{ 'app-tab.my-courses' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/settings">
      <ng-icon name="lucideSettings" size="1.25rem"></ng-icon>
      <ion-label>{{ 'app-tab.settings' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
